spring:
    application:
        name: jpa

    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:mem:testdb
        username: sa
        password: sa

    h2:
        console:
            enabled: true

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            hibernate:
                default_batch_fetch_size: 10
                batch_fetch_style: PADDED
server:
    port: 80